extends layout

block content
  .container-fluid
    .row.text-center
      .col-xs-12
        h1 Hi! Let's chat.
    .row.text-center
      .col-xs-offset-2.col-xs-8
        #chatbox
    .row.text-center
      .col-xs-offset-2.col-xs-8
        .form-group
          input#name.form-control(type="text" placeholder="Enter your username")
        .form-group
          input#input.form-control(type="text" placeholder="Type a message")
